<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ shop.name }} - {{ page_title }}</title>
<link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
<script src="{{ 'theme.js' | asset_url }}" defer></script>
{{ content_for_header }}
</head>
<body>

{% section 'header' %}

<main>
{{ content_for_layout }}
</main>

{% section 'footer' %}

</body>
</html>